body {

background-image: url("https://i.imgur.com/PpZlIRy.jpg");

background-size: 100%;

}


label {

    color: burlywood;
    font-weight: bolder;
    background-color: beige;
    font-size: large;

}
