body {

background-image: url("https://stmed.net/sites/default/files/simple-wallpapers-25302-7684433.jpg");

background-size: 100%;

}


label {

    color: burlywood;
    font-weight: bolder;
    background-color: beige;
    font-size: large;

}
